In [2]:
import pandas as pd
data = pd.read_pickle("../datasets/electric/201803_notna_date_data.pkl")
day2 = pd.to_datetime('2018-4-1')

In [3]:
pay_from_next_month_data = data[data['payment_time_2']>=day2]
pay_from_next_month_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995150 entries, 6 to 7626958
Data columns (total 19 columns):
supply_unit         995150 non-null object
B                   995150 non-null float64
user_id             995150 non-null int64
chaobiaoduan        995150 non-null object
station             730362 non-null object
regions             994894 non-null object
address             995150 non-null object
fee                 995150 non-null float64
flat_power          995116 non-null float64
valley_power        994971 non-null float64
bill_post_time      995150 non-null float64
payment_time        995150 non-null object
channel             991238 non-null object
location            995150 non-null object
Lng                 995150 non-null float64
Lat                 995150 non-null float64
payment_time_2      995150 non-null datetime64[ns]
bill_post_time_2    995150 non-null datetime64[ns]
pay_days            995150 non-null float64
dtypes: datetime64[ns](2), float64(8), int64(1), object(8)
memory usage: 151.8+ MB

In [4]:
pay_from_next_month_data.head()

,supply_unit,B,user_id,chaobiaoduan,station,regions,address,fee,flat_power,valley_power,bill_post_time,payment_time,channel,location,Lng,Lat,payment_time_2,bill_post_time_2,pay_days
6,沪东营销分中心,6.422184e+09,61560413,A335I1,市区九龙,虹口区,临平路133弄15号2702室,89.0,107.0,75.0,20180304.0,2018-04-11 09:07:24,支付宝,上海市临平路133弄,121.505,31.267,2018-04-11 09:07:24,2018-03-04,38.0
21,沪东营销分中心,6.422172e+09,61066227,A338I2,市区九龙,虹口区,临平路133弄11号3101室,182.9,192.0,210.0,20180304.0,2018-04-02 05:22:16,支付宝,上海市临平路133弄,121.505,31.267,2018-04-02 05:22:16,2018-03-04,29.0
25,沪东营销分中心,6.430041e+09,60940370,A338I1,市区九龙,虹口区,临平路133弄9号3204室,328.9,0.0,0.0,20180330.0,2018-04-11 06:49:26,光大银行,上海市临平路133弄,121.505,31.267,2018-04-11 06:49:26,2018-03-30,12.0
1429,沪东营销分中心,6.422172e+09,60940482,A338I2,市区九龙,虹口区,临平路133弄10号2503室,272.2,367.0,149.0,20180304.0,2018-04-02 10:17:03,人民银行,上海市临平路133弄,121.505,31.267,2018-04-02 10:17:03,2018-03-04,29.0
1430,沪东营销分中心,6.422172e+09,61066137,A338I2,市区九龙,虹口区,临平路133弄11号603室,112.3,158.0,48.0,20180304.0,2018-04-02 13:38:11,人民银行,上海市临平路133弄,121.505,31.267,2018-04-02 13:38:11,2018-03-04,29.0

In [6]:
sum = pay_from_next_month_data['fee'].sum()
sum

157945435.41000006